node_modules
.pnpm-store
dist
dist-ts
.turbo
.vite
.env
storage
tmp
*.tsbuildinfo
apps/server/prisma/dev.db
apps/server/prisma/dev.db-journal
apps/server/qdb.mts
dev.out.log
dev.err.log
dev.ps.log
.playwright-mcp
.idea
